--- 
layout: default 
title: James Newling | Experience
current: experience
---

<h2 id="work">Experience</h2>

{% include resume.html 
name = "Graphcore" 
title = "ML frameworks engineer" 
location = "Bristol, United Kingdom" 
date = "03/2018 - current"
description =  "I am working on inference and training of 
<a href=https://onnx.ai>ONNX</a> models for Graphcore's intelligence processing unit (IPU). 
This work involves implementing standard 
<a href=https://github.com/onnx/onnx/blob/master/docs/Operators.md>layers</a> 
using Graphcore's graph programming framework, designing C++ and Python 
neural net APIs, and implementing graph compilation optimization passes which target the IPU. "
logo = "graphcore" 
%} 



{% include resume.html 
name = "Advanced Micro Devices / HSA"
title = "ML kernel engineer" 
location = "Martigny, Switzerland" 
date = "01/2017 - 10/2017" 
description = "After my internship with AMD, I continued to work on the
<a href=https://github.com/ROCmSoftwarePlatform/MIOpenGEMM>
MIOpenGEMM </a> project as a remote collaborator. This was made possible through a grant from the
<a href=http://www.hsafoundation.com>
HSA Foundation</a>." 
logo = "hsa" 
%} 


{% include resume.html
name = "Advanced Micro Devices (AMD)" 
title = "Co-op" 
location = "Austin, Texas"
date = "09/2016 - 12/2016" 
description = "I was a member of the team developing
<a href=https://github.com/ROCmSoftwarePlatform>
ROCm</a>, an open-source HPC platform for GPU computing.
During this internship I initiated the 
<a href=https://github.com/ROCmSoftwarePlatform/MIOpenGEMM>
MIOpenGEMM</a> 
project for fast GEMM (matrix multiply) kernels in OpenCL. 
A description of the project can be found on the 
<a href=https://github.com/ROCmSoftwarePlatform/MIOpenGEMM/wiki>
wiki</a>."
logo = "amd"
%} 


{% include resume.html 
name = "Idiap Research Institute"
title = "Research assistant" 
location = "Martigny, Switzerland" 
date = "09/2013 - 02/2018" 
description = "I was a member of the 
<a href=http://www.idiap.ch/en/scientific-research/machine-learning>
Machine Learning Group</a> at the 
<a href=http://www.idiap.ch/fr>
Idiap Research Institute</a>. Our group focused on statistical learning 
techniques for computer vision, with a special interest in computational
aspects. My research was on partitional clustering, and funded by the 
<a href=https://haslerstiftung.ch/en/welcome-to-the-hasler-foundation>
Hasler Foundation</a>."
logo = "idiap" 
%} 

{% include resume.html 
name = "The Mukherjee Lab for Statistical Systems Biology" 
title = "Research assistant" 
location = "Amsterdam, The Netherlands" 
date = "04/2013 - 08/2013" 
description = "I was a research assistant in the 

<a href=
   http://mukherjeelab.nki.nl/Home.html>
Mukherjee Lab for Statistical Systems Biology</a> in the
<a href=https://www.nki.nl>
Netherlands Cancer Institute</a>, 
where I worked on non-parameteric statistical tests of drug efficacy. Here is my  
<a href=https://www2.warwick.ac.uk/fac/cross_fac/complexity/study/emmcs/outcomes/studentprojects/james_newling_final_report_m2.pdf> final report (pdf) </a>"
logo = "nki"
%}

{% include resume.html 
name = "University of Cape Town (UCT)"
title = "Maths tutor and lecturer" 
location = "Cape Town, South Africa" 
date = "02/2006 -10/2008,  02/2010 - 07/2011"
description = "I tutored first year university mathematics at UCT, and in 2010 I was the lecturer of the honours non-linear optimization course in applied mathematics."
logo = "uct" 
%}

{% include resume.html 
name = "KUHS"
title = "School maths teacher" 
location = "Dhulikhel, Nepal" 
date = "04/2009 - 09/2009"
description = "I taught grade 6 mathematics at the <a href=http://www.kuhs.edu.np>
Kathmandu University High School</a>, a private English medium school in Nepal." 
logo = "kuhs" 
%}

<hr>
