--- 
layout: default 
title: James Newling | Publications
current: publications
---


<a name="ml-pubs"></a>
<h2> Machine Learning Publications </h2>    

This is a list of publications made during my PhD, with links to post-prints. 
My PhD research was funded by the 
<a href="http://www.haslerstiftung.ch/en/home" target="_top">Hasler Foundation</a>. 
I plan to keep these post-prints up-to-date. 

<br/>
<br/>
    
    


{% include publication.html 
publisher = "nips" 
location = "NIPS" 
date = "2017"
name = "K-Medoids For K-Means Seeding"
authors = "J.Newling and F.Fleuret" 
arxiv = "1609.04723"
bib = "kmedoids-for-kmeans-seeding"
poster = "./posters/2017/nips/clarans/clarans_poster.pdf"
spotlight_slides = "./slides/2017/nips/clarans/clarans_spotlight.pdf"
smld_slides = "./slides/2017/nips/clarans/newling_smld.pdf"
variable-param=page.variable %}


{% include publication.html 
publisher = "aistats" 
location = "AISTATS" 
date = "2017"
name = "A Sub-Quadratic Exact Medoid Algorithm"
authors = "J.Newling and F.Fleuret" 
arxiv = "1605.06950"
bib = "a-sub-quadratic-exact-medoid-algorithm"
poster = "./posters/2017/aistats/medoids/medoids_poster.pdf"
bestpaper = "http://www.aistats.org/aistats2017//schedule.html"
variable-param=page.variable %}


{% include publication.html 
publisher = "nips" 
location = "NIPS" 
date = "2016"
name = "Nested Mini-batch K-Means"
authors = "J.Newling and F.Fleuret" 
arxiv = "1602.02934"
bib = "nested-mini-batch-k-means"
variable-param=page.variable %}

{% include publication.html 
publisher = "icml16" 
location = "ICML" 
date = "2016"
name = "Fast K-Means with Accurate Bounds"
authors = "J.Newling and F.Fleuret" 
arxiv = "1602.02514"
bib = "fast-k-means-with-accurate-bounds"
poster = "./posters/2016/icml/kmeans/kmeans_poster.pdf"
spotlight_slides = "./slides/2016/icml/kmeans/kmeans_slides.pdf"
variable-param=page.variable %}


<hr>

<a name="cosmo-pubs"></a>
<h2>Cosmology Publications</h2>

This is a list of publications made during my masters in observational cosmology.

<br>
<br>

{% include publication.html 
publisher = "jcap" 
location = "Journal of Cosmology and Astroparticle Physics" 
date = "2013"
name = "Extending BEAMS to incorporate correlated systematic uncertainties"
authors = "Michelle Knights et al."
arxiv = "1205.3493"
variable-param=page.variable %}


{% include publication.html 
publisher = "mnras" 
location = "Monthly Notices of the Royal Astronomical Society" 
date = "2012"
name = "Parameter Estimation with BEAMS in the presence of biases and correlations"
authors = "James Newling et al."
arxiv = "1110.6178"
variable-param=page.variable %}

{% include publication.html 
publisher = "astrophys" 
location = "The Astrophysical Journal" 
date = "2011"
name = "Photometric Supernova Cosmology with BEAMS and SDSS-II"
authors = "Renée Hlozek et al." 
arxiv = "1111.5328"
variable-param=page.variable %}


{% include publication.html 
publisher = "mnras" 
location = "Monthly Notices of the Royal Astronomical Society" 
date = "2011"
name = "Statistical classification techniques for photometric supernova typing"
authors = "James Newling et al."
arxiv = "1010.1005"
variable-param=page.variable %}



{% include publication.html 
publisher = "pasp" 
location = "Publications of the Astronomical Society of the Pacific"
date = "2010"
name = "Results from the supernova photometric classification challenge"
authors = "R Kessler et al."
arxiv = "1008.1024"
variable-param=page.variable %}

    <hr>

    A complete list of publications I was involved in can be found on
    <a href="https://scholar.google.co.uk/citations?user=xdqdg-AAAAAJ&hl=en" target="_top">my Google scholar page</a>.

    <hr>

