--- 
layout: default 
title: James Newling | Software
current: software
---

<h2>Software</h2>

These are some of the open source software projects I started during my PhD. They're all available from
<a href="https://github.com/newling" target="_top">my Github page</a>.

<br/>
<br/>

{% include software.html
name = "MIOpenGEMM" 
description = "Optimized GPU OpenCL GEMM (matrix multiply) library.
An illustrated explanation of how the optimized OpenCL kernels are created and 
then automatically improved can be found on the 
<a href=https://github.com/ROCmSoftwarePlatform/MIOpenGEMM/wiki>wiki</a>. 
The MIOpenGEMM library is available under a MIT License. "
github = "https://github.com/ROCmSoftwarePlatform/MIOpenGEMM"
wiki = "https://github.com/ROCmSoftwarePlatform/MIOpenGEMM/wiki"
%} 

{% include software.html
name = "zentas" 
description = "
O(N) 
implementation of the Clarans K-Medoids algorithm for various data structures and 
metrics (sequence data, sparse data, dense vectors, etc). It is written in C++ 
with Python bindings in Cython. 
"
github = "https://github.com/idiap/zentas"
%} 

{% include software.html
name = "eakmeans" 
description = "
Implementations of very fast exact k-means algorithms, C++ 
with bindings for Python. 
"
github = "https://github.com/idiap/eakmeans"
%} 


<br/>

<hr>
    

